SUPABASE_URL=your_supabase_url_here
SUPABASE_SERVICE_KEY=your_supabase_service_role_key_here

DOODSTREAM_API_KEY=your_doodstream_api_key_here

B2_APPLICATION_KEY_ID=your_b2_key_id_here
B2_APPLICATION_KEY=your_b2_application_key_here
B2_BUCKET_NAME=your_b2_bucket_name_here
B2_REGION=us-east-005 # Masalan us-east-005

# Hugging face (Hozircha local uchun shart emas)
HF_ACCESS_TOKEN=your_hf_token_here
